.lead {
  max-width: 984px;
  margin: 56px auto 92px;
}

@media (min-width: 200px) and (max-width: 1100px) {
  .lead {
    margin-top: 48px;
  }
}

@media (min-width: 400px) and (max-width: 769px) {
  .lead {
    margin-bottom: 88px;
  }
}

@media (min-width: 200px) and (max-width: 400px) {
  .lead {
    margin-bottom: 64px;
  }
}

@media (min-width: 769px) and (max-width: 1025px) {
  .lead {
    max-width: 928px;
  }
}

