.header {
  display: flex;
  max-width: calc(100% - 96px);
  margin: 28px auto 0;
  justify-content: start;
  align-items: flex-start;
}

@media (min-width: 400px) and (max-width: 900px) {
  .header {
    max-width: calc(100% - 48px);
    margin: 28px auto 0;
  }
}

@media (min-width: 200px) and (max-width: 400px) {
  .header {
    max-width: calc(100% - 32px);
    margin: 16px auto 0;
  }
}
