.intro {
  max-width: 690px;
  margin: 0 0 92px 48px;
}

@media (min-width: 288px) and (max-width: 770px) {
  .intro {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 288px) and (max-width: 700px) {
  .intro {
    margin-bottom: 64px;
    max-width: calc(100% - 32px);
  }
}

@media (min-width: 700px) and (max-width: 770px) {
  .intro {
    margin-bottom: 88px;
    max-width: calc(100% - 48px);
  }
}

@media (min-width: 1196px) {
  .intro {
    margin-left: 100px;
  }
}
