.lead__subtitle {
  max-width: 640px;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  padding-bottom: 64px;
}

@media (min-width: 288px) and (max-width: 700px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 40px;
  }
}

@media (min-width: 700px) and (max-width: 1100px) {
  .lead__subtitle {
    padding-bottom: 56px;
  }
}
